* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #888;
    background-color: #f5f0e9;
    line-height: 1.5;
}

/* common CSS */
.container {
    width: 85%;
    margin: 0 auto;
}

.head {
    color: #f79918;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1rem;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.mt-5 {
    margin-top: 12px;
}

.mt-4 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2.2rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.pt-5 {
    margin-top: 60px;
}

.col-whi-op {
    color: rgba(255, 255, 255, 0.5);

}

.topsection {
    margin-top: 5rem;
}

.col-ye {
    color: #f79918;
    font-weight: bolder;
}

.col-blc {
    color: black;
}

.col-whi {
    color: white;
}

button {
    background-color: #f79918;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
}



button:hover {
    background-color: white;
    color: #f79918;
}

img {
    border-radius: 5px;

}

/* header*/
.maountain-Cover {
    background: url('./All_Images/Mountain.webp');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
}

.maountain-Cover::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, .3);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

header {
    padding-top: 20px;
}

.logo {
    float: left;
    font-size: 20px;
    font-weight: 700;
    top: 6px;
    position: relative;
    color: white !important;
}

.navbar {
    float: right;
    position: relative;
    top: 6px;

}

.navbar ul {
    display: flex;
    justify-content: space-around;
}


.dropdown {
    position: absolute;
    z-index: 5;
    background-color: white;
    padding: 10px 5px 5px 5px;
    display: none;
}

.dropdown ul li a{
    color:black;
}

.fs {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.dropdown ul li i {
    margin-left: 15px;
}

.dropdown ul li {
    padding-top: 10px;
}

.dropdown ul li a:hover {
    color: #f79918;
}

.drop-dis:hover .dropdown {
    display: block;
}

.drop-subdis:hover .sub-dropdown {
    display: block;
}

.drop-subdis i:hover {
    color: #f79918;
}

.navbar ul li {
    margin: 0px 15px;
}

.dropdown ul {
    display: inline-block;
}

.sub-dropdown {
    position: absolute;
    background-color: white;
    padding: 10px 5px;
    width: max-content;
    display: none;
    left: 120px;
    top: 60px;
}

.cl {
    clear: both;
}

.navbar>ul>li>a,
.icon {
    color: rgb(219, 209, 209);
}

.active {
    color: white !important;
}

.navbar>ul>li>a:hover {
    color: white
}

.banner {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    padding: 25px 0px;
    color: rgba(255, 255, 255, 1)
}

.banner-left {
    width: 33.33%;
    margin-top: 130px;
}

.banner-left>div>span {
    margin-bottom: 30px;
}

.banner-left>div>h1,
.main-left>div {
    margin-bottom: 1.2rem;
}

.banner-left>div p {
    margin-bottom: 3rem;
}

.banner-left>div>span {
    display: block;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 12px;
}

.banner-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.banner-right {
    margin-top: 101px;
    width: 50%;
    padding: 0px 0px 0px 120px;
    position: relative;
}

.play_icon {
    border: 1px solid rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 40%;
    left: 55%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.play_icon i {
    position: absolute;
    left: 35%;
    top: 45%;
}

/* section-2*/
.main {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    padding: 32px 0px;
}

.main-left {
    display: flex;
    flex-direction: column;
}

.main-left div button {
    padding: 14px 18px;
}

.main-right {
    padding-left: 10px;
}

/* section-3 */
.content {
    padding-bottom: 55px;
}

.content-top {
    text-align: center;
}

.content-bottom {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
}

.content-card {
    padding: 26px 0 0 15px;
}

.cardone {
    line-height: 1.8rem;
}

.card {
    margin: 0px 13px;
}

/* section-4 */
article {
    background-color: #10495c;
    padding-top: 4rem;
    text-align: start;
}

.article {
    padding-top: 55px;
    display: grid;
    column-gap: 6rem;
    row-gap: 55px;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.article-two {
    padding: 30px 15px 0px 15px;
}

.article-three {
    position: relative;
}

.paly-icon2 {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    top: 25%;
    left: 40%;
}

.paly-icon2 i {
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
}

.article-four {
    width: 100%;
    padding: 50px 0px 0px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 15px;
    row-gap: 25px;
}

.artiacl-button {
    padding: 35px 0;
}


.artiacl-button button {
    padding: 12px 7px;
    width: 100%;
}

/*section-5 */
.test-sec {
    position: relative;

}

.testimonies {
    display: flex;
    justify-content: space-around;

}

.test-card {
    text-align: center;
    padding: 25px;
    margin: 35px 45px;
    background-color: white;
    width: 50%;
}

.person-img {
    border-radius: 50%;
    margin-bottom: 5px;
}

.test-bottom {
    text-align: center;
    margin: 30px 0px;
}

.test-bottom button {
    padding: 5px 20px;
}

.test-bottom div {
    text-align: center;
    margin: 20px 0px;
}

blockquote {
    font-style: italic;
    font-size: 18px;
    margin: 15px 0px;
}

/*  section-6 */
.services {
    background-color: white;
    text-align: center;
    padding-top: 55px;
    margin: 30px 45px;
    position: absolute;
}

.service-desc {
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
    margin-bottom: 5px;
}

.service-desc div {
    margin: 25px 20px;
    padding: 10px 25px;
}


.more {
    color: #f79918;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.more:hover {
    color: #8b560b;
}

/*  section-7 */
.joinus {
    margin-top: 41rem;
    background-color: #10495c;
    height: 300px;
}

.joinus div {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.joinus div div button {
    padding: 1rem 3rem;

}

/* footer */
footer {
    background-color: #ede1d0;
}

.footer-sec {
    display: flex;
    justify-content: space-between;
    padding: 70px 0px;
}

.footer-sec div {
    width: 33.33%
}

.float-footer {
    float: left;
}

.float-footer>li {
    margin-right: 4rem;
}

.link>li {
    margin-bottom: 10px;
}

.link>li>a {
    color: #888;
    border-bottom: rgba(247, 153, 24, 0.1) 2px solid;
}

.link>li>a:hover {
    border-bottom: #f79918 2px solid;
    color: black;
}

.footer-last {
    text-align: center;
    padding: 35px 0px;
}

address {
    font-style: normal;
    margin-bottom: 1rem;
}

.footer-h3 {
    font-size: 12px;
    font-weight: 700;
    color: #10495c;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.social-icon {
    margin-top: 10px;
}

.social-icon li {
    display: inline-block;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: #888;
}

.social-icon li a {
    color: #888;
}

.social-icon li:hover .abc {
    color: white;
}

.social-icon li:hover {
    background-color: #f79918;
}

.footer-last i {
    color: red;
}